In [23]:
import pandas as pd
import random

In [40]:
#Loading the name of students in students variable
students=pd.read_csv("C:\\Users\\preet\\practicefolder\\colleagues.csv", header=None)

In [42]:
students

           0
0      Hajer
1     Charly
2      Choti
3      Megan
4     Moussa
5       Yves
6     Preeti
7     Nadiya
8       Aida
9   Augustin
10   Klebert
11      Marc
12     Sofia
13    Younes
14     Kenny
15  Floriane
16     Jordi
17   Alberto
18      Fang
19  Caterina
20   Yassine
21    Dragos
22    Hanieh
23   Mengstu
24       Evi
25  Emmanuel

In [38]:
students.drop_index(inplace=True)
students

AttributeError: 'DataFrame' object has no attribute 'drop_index'

In [35]:
student_list=students["Hajer"]
student_list

0       Charly
1        Choti
2        Megan
3       Moussa
4         Yves
5       Preeti
6       Nadiya
7         Aida
8     Augustin
9      Klebert
10        Marc
11       Sofia
12      Younes
13       Kenny
14    Floriane
15       Jordi
16     Alberto
17        Fang
18    Caterina
19     Yassine
20      Dragos
21      Hanieh
22     Mengstu
23         Evi
24    Emmanuel
Name: Hajer, dtype: object

In [16]:
# Creating a class room there each table has four chair 
class_room = {"table1":["chair11","chair12","chair13","chair14"]}
class_room["table1"]=["chair11","chair12","chair13","chair14"]
class_room["table2"]=["chair21","chair22","chair23","chair24"]
class_room["table3"]=["chair31","chair32","chair33","chair34"]
class_room["table4"]=["chair41","chair42","chair43","chair44"]
class_room["table5"]=["chair51","chair52","chair53","chair54"]
class_room["table6"]=["chair61","chair62","chair63","chair64"]

In [17]:
for i in class_room.values():
    total_chairs=list(class_room.values())
total_chairs

[['chair11', 'chair12', 'chair13', 'chair14'],
 ['chair21', 'chair22', 'chair23', 'chair24'],
 ['chair31', 'chair32', 'chair33', 'chair34'],
 ['chair41', 'chair42', 'chair43', 'chair44'],
 ['chair51', 'chair52', 'chair53', 'chair54'],
 ['chair61', 'chair62', 'chair63', 'chair64']]

In [21]:
list_of_chairs=[]
for x in total_chairs:
    for a in x:
        list_of_chairs.append(a)
len(list_of_chairs)

24

In [ ]:
class arrangement(list1,list2):
    def __init__(self, list1, list2):
        self.list1=list1
        self.list2=list2
    
    def chair_assignment(self):
        for i in list1:
        i=random.sample(list_of_chairs,1)
        print(f"{i}: ")

In [26]:
for i in students:
    print(i)
    i=random.sample(list_of_chairs,1)
    print(i)

Hajer
['chair24']