In [148]:
import pandas as pd
import random

In [149]:
#Loading the name of students in students
students=pd.read_csv("C:\\Users\\preet\\practicefolder\\colleagues.csv", header=None)
students.head()

        0
0   Hajer
1  Charly
2   Choti
3   Megan
4  Moussa

In [ ]:
# assigning column name to the the students name column
students=students.set_axis(["students_name"], axis=1)
students.head()

  students_name
0         Hajer
1        Charly
2         Choti
3         Megan
4        Moussa

In [151]:
# making a list of students
students=list(students["students_name"])
students

['Hajer',
 'Charly',
 'Choti',
 'Megan',
 'Moussa',
 'Yves',
 'Preeti',
 'Nadiya',
 'Aida',
 'Augustin',
 'Klebert',
 'Marc',
 'Sofia',
 'Younes',
 'Kenny',
 'Floriane',
 'Jordi',
 'Alberto',
 'Fang',
 'Caterina',
 'Yassine',
 'Dragos',
 'Hanieh',
 'Mengstu',
 'Evi',
 'Emmanuel']

In [ ]:
# checking the number of students
len(students)

26

In [ ]:
# Creating a class_room dictionary there each table has four chair 
# table as keys and chairs as values to the keys
class_room = {"table1":["chair1","chair2","chair3","chair4"]}
class_room["table2"]=["chair1","chair2","chair3","chair4"]
class_room["table3"]=["chair1","chair2","chair3","chair4"]
class_room["table4"]=["chair1","chair2","chair3","chair4"]
class_room["table5"]=["chair1","chair2","chair3","chair4"]
class_room["table6"]=["chair1","chair2","chair3","chair4"]

In [168]:
class_room.keys()

dict_keys(['table1', 'table2', 'table3', 'table4', 'table5', 'table6', 'table7'])

In [169]:
#assigning random seats to the students
if len(students)<=24:          
    # if students have sufficient chairs present
    seatsleft=24
    for i in class_room.keys():
        print(i)
        for x in range(4):
            print(f"{class_room[i][x]}={random.sample(students,1)}")
        seatsleft-=1

elif len(students)>24:           
     # if the no of students is more than the chairs in room
    class_room["table7"]=["chair1","chair2","chair3","chair4"]       
    # adding one more table to the classroom
    seatsleft=28
    for i in class_room.keys():
        print(i)
        for x in range(4):
            print(f"{class_room[i][x]}={random.sample(students,1)}")
        seatsleft-=1

table1
chair1=['Fang']
chair2=['Younes']
chair3=['Caterina']
chair4=['Emmanuel']
table2
chair1=['Fang']
chair2=['Jordi']
chair3=['Emmanuel']
chair4=['Mengstu']
table3
chair1=['Emmanuel']
chair2=['Marc']
chair3=['Megan']
chair4=['Emmanuel']
table4
chair1=['Evi']
chair2=['Jordi']
chair3=['Evi']
chair4=['Jordi']
table5
chair1=['Choti']
chair2=['Yassine']
chair3=['Floriane']
chair4=['Moussa']
table6
chair1=['Younes']
chair2=['Yves']
chair3=['Choti']
chair4=['Mengstu']
table7
chair1=['Megan']
chair2=['Hanieh']
chair3=['Megan']
chair4=['Dragos']