In [108]:
import pandas as pd
import random

In [109]:
#Loading the name of students in students
students=pd.read_csv("C:\\Users\\preet\\practicefolder\\colleagues.csv", header=None)
students.head()

        0
0   Hajer
1  Charly
2   Choti
3   Megan
4  Moussa

In [110]:
students=students.set_axis(["students_name"], axis=1)
students.head()

  students_name
0         Hajer
1        Charly
2         Choti
3         Megan
4        Moussa

In [111]:
# making a list of students
students=list(students["students_name"])
students

['Hajer',
 'Charly',
 'Choti',
 'Megan',
 'Moussa',
 'Yves',
 'Preeti',
 'Nadiya',
 'Aida',
 'Augustin',
 'Klebert',
 'Marc',
 'Sofia',
 'Younes',
 'Kenny',
 'Floriane',
 'Jordi',
 'Alberto',
 'Fang',
 'Caterina',
 'Yassine',
 'Dragos',
 'Hanieh',
 'Mengstu',
 'Evi',
 'Emmanuel']

In [112]:
len(students)

26

In [126]:
# Creating a class room there each table has four chair 
class_room = {"table1":["chair1","chair2","chair3","chair4"]}
class_room["table2"]=["chair1","chair2","chair3","chair4"]
class_room["table3"]=["chair1","chair2","chair3","chair4"]
class_room["table4"]=["chair1","chair2","chair3","chair4"]
class_room["table5"]=["chair1","chair2","chair3","chair4"]
class_room["table6"]=["chair1","chair2","chair3","chair4"]

In [127]:
tables=["table1","table2","table3","table4","table5","table6"]

In [ ]:
for

In [ ]:
class arrangement():
    def __init__(self, list1, list2):
        self.list1=list1
        self.list2=list2
    
    def chair_assignment(self):
        for i in self.list1:
            print(f"{i} is assigned the seat number: {random.sample(self.list2,1)}")

NameError: name 'self' is not defined

In [ ]:
class seat():                                  ## free==chairs                  occcupant is the chair no  dictionary
    def __init__(self, free=True, occupant):      
        self.free=free
        self.occupant=occupant
        
            
    
    def set_occupant(name):
        #which allows the program to assign someone a seat if it's free
        if self.free==1:
            self.occupant=name

            print(f"{name} is sitting on ")
            self.free=False

In [ ]:
class table():
    def __init__(self, capacity, seats):     # capaciry is no of chairs present
        self.capacity=capacity
        self.seats=seats
        
    def has_free_spot(): 
        
        #that returns a boolean (True if a spot is available)
    def assign_seat(name):
        # that places someone at the table
    def left_capacity():
        # that returns an integer

In [ ]:
class openspace:
    def __init__(self, table,no_of_tables)

Hajer: ['chair52']
Charly: ['chair53']
Choti: ['chair32']
Megan: ['chair61']
Moussa: ['chair62']
Yves: ['chair42']
Preeti: ['chair61']
Nadiya: ['chair52']
Aida: ['chair43']
Augustin: ['chair44']
Klebert: ['chair42']
Marc: ['chair34']
Sofia: ['chair53']
Younes: ['chair12']
Kenny: ['chair61']
Floriane: ['chair44']
Jordi: ['chair31']
Alberto: ['chair21']
Fang: ['chair64']
Caterina: ['chair34']
Yassine: ['chair61']
Dragos: ['chair11']
Hanieh: ['chair22']
Mengstu: ['chair54']

In [ ]:
def set_occupant(name):

In [125]:
class_room.keys()

dict_keys(['table1', 'table2', 'table3', 'table4', 'table5', 'table6'])

In [ ]:
class Seat:
    def __init__(self):
       
        
        self.free = True
        self.occupant = None 

    def set_occupant(self, name):
       
        if self.free:
            self.occupant = name
            self.free = False
            print(f"'{name}' has been assigned to the seat.")
            return True
        else:
            print(f"This seat is already occupied by '{self.occupant}'. Cannot assign '{name}'.")
            return False

    def remove_occupant(self):
      
        if not self.free:
            removed_name = self.occupant
            self.occupant = None
            self.free = True
            print(f"'{removed_name}' has been removed from the seat. The seat is now free.")
            return removed_name
        else:
            print("This seat is already free. No occupant to remove.")
            return None